<div class="row">
    <div class="col-sm-4 col-4">
        <div class="card category-listing-active-card">
            <div class="card-body">
                <h5 class="card-title">Income </h5>
                <p class="card-text">
                    Active Category: 10
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Expense </h5>
                <p class="card-text">
                    Active Category: 10
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Debt </h5>
                <p class="card-text">
                    Active Category: 1
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row category-listing-form-table">
    <div class="col-sm-4" style="border-right: 1px solid;">
        <form class="was-validated">
            <div>
                <label for="validationServer01" class="form-label">Label</label>
                <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
            <div class="mb-3">
                <label for="validationTextarea" class="form-label">Description</label>
                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
                <div class="invalid-feedback">
                  Please enter a message in the textarea.
                </div>
              </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Save Changes </button>
            </div>
        </form>
    </div>
    <div class="col-sm-8">
        <table class="table table-sm caption-top">
            <caption>List of users</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                    <th scope="col">Image</th>
                    <th scope="col">Status</th>
                    <th scope="col">Description</th>
                    <th scope="col">Modify</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Salary(Full Time)</td>
                    <td>Otto</td>
                    <td>Active</td>
                    <td>Full time job salary</td>
                    <td>Edit | Upda | Del</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Salary(Full Time)</td>
                    <td>Otto</td>
                    <td>Active</td>
                    <td>Full time job salary</td>
                    <td>Edit | Upda | Del</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Salary(Full Time)</td>
                    <td>Otto</td>
                    <td>Active</td>
                    <td>Full time job salary</td>
                    <td>Edit | Upda | Del</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>